@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.titleBox {
  text-align: center;
}

.title {
  font-family: "Chosunilbo_myungjo";
  font-size: min(10vw, 10vh);
  margin-bottom: 0;
}

.subtitle {
  font-family: "Chosunilbo_myungjo";
  font-size: min(5vw, 5vh);
}

.answerBox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 100px 0;
}

.answerText {
  font-family: "Chosunilbo_myungjo";
  font-size: min(2vw, 20px);
  margin-right: 10px;
}

.answer {
  width: min(50vw, 200px);
}

.answerButton {
  font-family: "Chosunilbo_myungjo";
  font-size: min(2vw, 20px);
  margin-left: 10px;
}

/*퀴즈1*/
.medalBox {
  display: grid;
  grid-template-columns: repeat(3, min(20vw, 150px));
  grid-column-gap: min(5vw, 40px);
  justify-content: center;
  margin: 100px 0;
}

.goldmedal {
  width: 100%;
  height: 100%;
  background-size: contain;
}

/*퀴즈2*/
.quiz2Box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 100px 0;
}

.quiz2_img {
  height: min(60vw, 700px);

  object-fit: contain;
}

.quiz2HintBox {
  display: flex;
  justify-content: center;
}

.quiz2hint1 {
  border: 1px solid black;
  width: 7vw;
  height: 3vw;
}

.quiz2hint2 {
  width: 7vw;
  height: 3vw;
  font-family: "Chosunilbo_myungjo";
  text-align: center;
  line-height: 3vw;
}